/* body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 30em;
}

.flex-item {
    margin: 1em;
    padding: 1em;
    background-color: lightgray;
}

.flex-item.flex-item-one {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 250px;
    align-self: flex-start;
    order: 1;
}

.flex-item.flex-item-two {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 250px;
    align-self: stretch;
    order: 0;
}

.flex-item.flex-item-three {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 250px;
    align-self: flex-end;
    order: -1;
} */




@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

/* 
white: #FFF;
green: #0F9;
black: #444; 
*/

* { 
    box-sizing: border-box; 
    margin-top: 0;
}

body {
    margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #444;
  font-size: 1.1rem;
}

.hero {
    height: 100vh;
    background-color: #444;
    background-image: url(//unsplash.it/1000/600);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 1em;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

h1 {
  font-size: 5rem;
  color: #0F9;
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid #FFF;
  outline-offset: .25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
  
}
h1 span {
    font-weight: 300;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

p span {
    color: #0F9;
}

.btn {
  display: inline-block;
  padding: .7em 1.7em;
  background: #0F9;
  color: #444;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
    background: darkgreen;
}

.sales-points {
  padding: 12vh 0;
  text-align: center;

  display: flex;
  flex-direction: row;
 
}
@media (max-width: 700px) {
    .sales-points {
        flex-direction: column;
    }
}


.cta {
  background-image: url(//unsplash.it/600/400);
  background-size: cover;
  padding: 10vh 0;
  color: #FFF;

  display: flex;
  justify-content: flex-end;
}

.cta-text {
    flex-basis: 50%;
    padding: 0 2em;
}
@media (max-width: 700px) {
    .cta-text {
        flex-basis: 100%;
        flex-direction: column;
    }
}
