body {
    margin: 0;
    background-color: #f5f5f5;
}

.wrapper {
    font-size: 16px;
    padding: 3em;
}

.main {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap; 
    background-color: white;
}

.card {
    width: 25em;
    padding: 2em;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
    border: 1px solid black;
}

.card__image img {
    width: 25em;
}

.card__title {
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 0.5em; 
}

.card__text {
    padding: 1em;    
}

.card--white {
    background-color: white;
    color: black;
}

.card--black {
    background-color: black;
    color: white;
}

.parent {
    width: 20em;
    height: 7.5em;
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid red;
}

.parent .header, .parent .content, .parent .footer {
    width: 4em;
    height: 4em;
    border: 1px solid black;
}

/* .card .card__image,
.card .card__title,
.card .card__text {
    border: 1px solid red;
}

.card :is(.card__image, .card__title, .card__text) {
    border: 1px solid red;
}

:is(.card__image, .card__title, .card__text) {
    border: 1px solid red;
}

:is(.card__image, .card__title, .card__text) p {
    border: 1px solid red;
}
:is(.card__image, .card__title, .card__text) p:hover {
    border: 1px solid black;
} */

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;

    border: 1px solid red;
}

.container .circle-wrapper {
    width: 250px;
    height: 250px;
    margin: calc(50% - 125px) auto;
    /* overflow: hidden; */
    
    border: 1px solid red;
}

.container .circle-wrapper .circle {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 20px solid red;
    transform: rotate(0);
    transition: transform 1s ease;
}

.container .circle-wrapper .circle .circle-info {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    transform: rotate(0);
    transition: transform 1s ease;
}
